<section class="login-content">
        <div class="login-box">
            <div class="container">
                <div class="text-center"><h1>สมัครสมาชิก</h1></div>
                <form (submit)="Onsubmit()" [formGroup]="form">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <label for="">Username : </label>
                            <input class="form-control" formControlName="customerEmail" type="text">
                            <small class="message-error"
                            *ngIf="!!Email.errors?.required  && Email.touched">Please choose a Email</small>
                            <small class="message-error"
                            *ngIf="!!Email.errors?.email">Please input format @Email</small>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <label for="">Password : </label>
                            <input class="form-control" formControlName="password" type="password">
                            <small class="message-error"
                            *ngIf="form.get('password').invalid && (form.get('password').dirty || form.get('password').touched)">Please choose a Password</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <label for="">Full-Name : </label>
                            <input class="form-control" formControlName="customerFullName" type="text">
                            <small class="message-error"
                            *ngIf="form.get('customerFullName').invalid && (form.get('customerFullName').dirty || form.get('customerFullName').touched)">Please choose a B</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 form-radio">
                            <div class="custom-control custom-radio custom-control-inline"> 
                                <input type="radio" id="customRadioInline1"  formControlName="customerGender" value="m" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline1">ชาย</label>
                              </div>
                              <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2"  formControlName="customerGender" value="g" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline2">หญิง</label>
                              </div>
                        </div>
                    </div> 
                <div formGroupName="form_birtday">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <label for="">Birdday : </label>
                            <input class="form-control" formControlName="customerBirthDay" type="date">
                            <small class="message-error"
                            *ngIf="form_birtday.invalid && (form_birtday.dirty || form_birtday.touched)">Please choose a BirthDay</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <label for="">Tel : </label>
                        <div formArrayName="credentials" *ngFor="let creds of credentials.controls; let i = index;">
                            <ng-container [formGroupName]="i">
                                <div class="inputarray">
                                    <input class="form-control"  formControlName="customerPhone" type="text"
                                    [ngClass]="{ 'is-invalid': credentials.at(i).get('customerPhone').errors}">
                                    <div *ngIf="i === 0" class="icon">   
                                        <span class="fa fa-plus fa-lg" (click)="addPhone()"></span>
                                    </div>
                                    <div *ngIf="i > 0" class="icon">   
                                        <span class="fa fa-times fa-lg" (click)="Remove(i)"></span>
                                    </div>
                                </div>
                                <small class="message-error"
                                *ngIf="credentials.at(i).get('customerPhone').errors?.required">Please choose a Tel.</small>
                                <small class="message-error"
                                *ngIf="credentials.at(i).get('customerPhone').errors?.minlength">Please input More than 10 characters</small>
                            </ng-container>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <label for="">Tex-Id : </label>
                            <input class="form-control" formControlName="customerTaxId" type="text">
                            <small class="message-error"
                                *ngIf="form.get('customerTaxId').invalid && (form.get('customerTaxId').dirty || form.get('customerTaxId').touched)">Please choose a Tex-id.</small>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-6 mt-1"><button class="btn btn-success" type="submit">ยืนยัน</button></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 mt-1"><button class="btn btn-secondary" routerLink="/login">ย้อนกลับ</button></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {{credentials.at(0).get('customerPhone').errors | json}}
    