<app-headder></app-headder>
<!-- <div class="sidebar rowspan" id="navbarToggleExternalContent">
    <div class="main-menu">
        <ul>
            <li>อ</li>
        </ul>
    </div>
</div> -->
<div class="box-main">
        <div class="flexcontainer containerwidth flexspace">
                <div class="menu" routerLink="/home">
                        <span class="icon">
                            <i class="fa fa-home fa-lg icon"></i>
                        </span>
                        <div class="desciption">หน้าหลัก</div>
                    </div>
                
                <a routerLink="/product/product-list">
                    <div class="menu">
                            <span class="icon">
                                    <i class="fa fa-list-alt fa-lg"></i>
                            </span>
                            <div class="desciption">รายการ</div>
                    </div>
                </a>
                <div class="menu">
                        <span class="icon">
                                <i class="fa fa-home fa-lg"></i>
                        </span>
                        <div class="desciption">หน้าหลัก</div>
                </div>
                <div class="menu">
                        <span class="icon">
                                <i class="fa fa-home fa-lg"></i>
                        </span>
                        <div class="desciption">หน้าหลัก</div>
                </div>
                <div class="menu">
                        <span class="icon">
                                <i class="fa fa-home fa-lg"></i>
                        </span>
                        <div class="desciption">หน้าหลัก</div>
                </div>
                <div class="menu">
                        <span class="icon">
                                <i class="fa fa-home fa-lg"></i>
                        </span>
                        <div class="desciption">หน้าหลัก</div>
                </div>
            </div>
</div>
