<app-headder></app-headder>
<div class="box-main">
    <div class="detail-opd">
        <div class="row">
            <div class="col-sm-6">
                หมายเลขบริการ : FRS202001010001
            </div>
            <div class="col-sm-6">
                ลูกค้า : สตาบัค สาขา เซนทรัล
            </div>
        </div>
        <div class="row">
                <div class="col-sm-6">
                        ชื่อผู้ติดต่อ : สมคิด สวยงาม
                </div>
                <div class="col-sm-6">
                        เบอร์ติดต่อ : 089-999-8999
                </div>
        </div>
        <div class="row">
                <div class="col-sm-12">
                        รายละเอียดงาน : ท่อรั่ว
                </div>
        </div>
    </div>
    <div class="box-crad">
            <div class="card">
            <div class="card-header">
                หน้าร้าน <span class="icon"><i class="fa fa-camera fa-lg"></i></span>
            </div>
            <div class="card-body">
                    <div class="album-main box-img">
                        <img src="https://i.pinimg.com/564x/64/88/31/6488312c892e86ece369d3907041d523.jpg" alt="">
                        <img src="https://i.pinimg.com/564x/b8/cc/4b/b8cc4bb8d4371eb7ba1528ef02f8b354.jpg" alt="">
                        <img src="https://i.pinimg.com/564x/be/a1/2d/bea12d20ac88c7e8df0e08d653e3485a.jpg" alt="">
                        <img src="https://i.pinimg.com/564x/be/a1/2d/bea12d20ac88c7e8df0e08d653e3485a.jpg" alt="">
                    </div>
            </div>
            </div>
    </div>
    <div class="box-crad">
            <div class="card">
            <div class="card-header">
            อุปกรณ์ก่อนทำ<span class="icon"><i class="fa fa-camera fa-lg"></i></span>
            </div>
            <div class="card-body">
                    <div class="album-main box-img">
                        <img src="https://i.pinimg.com/564x/64/88/31/6488312c892e86ece369d3907041d523.jpg" alt="">
                        <img src="https://i.pinimg.com/564x/b8/cc/4b/b8cc4bb8d4371eb7ba1528ef02f8b354.jpg" alt="">
                        <img src="https://i.pinimg.com/564x/be/a1/2d/bea12d20ac88c7e8df0e08d653e3485a.jpg" alt="">
                        <img src="https://i.pinimg.com/564x/be/a1/2d/bea12d20ac88c7e8df0e08d653e3485a.jpg" alt="">
                    </div>
            </div>
            </div>
    </div>
    <div class="box-crad">
            <div class="card">
            <div class="card-header">
                อุปกรณ์เปลี่ยน<span class="icon"><i class="fa fa-camera fa-lg"></i></span>
            </div>
            <div class="card-body">
                    <div class="album-main box-img">
                        <img src="https://i.pinimg.com/564x/64/88/31/6488312c892e86ece369d3907041d523.jpg" alt="">
                        <img src="https://i.pinimg.com/564x/b8/cc/4b/b8cc4bb8d4371eb7ba1528ef02f8b354.jpg" alt="">
                        <img src="https://i.pinimg.com/564x/be/a1/2d/bea12d20ac88c7e8df0e08d653e3485a.jpg" alt="">
                        <img src="https://i.pinimg.com/564x/be/a1/2d/bea12d20ac88c7e8df0e08d653e3485a.jpg" alt="">
                    </div>
            </div>
            </div>
    </div>
    <div class="box-crad">
            <div class="card">
            <div class="card-header">
                อุปกรณ์หลังเปลี่ยน<span class="icon"><i class="fa fa-camera fa-lg"></i></span>
            </div>
            <div class="card-body">
                    <div class="album-main box-img">
                        <img src="https://i.pinimg.com/564x/64/88/31/6488312c892e86ece369d3907041d523.jpg" alt="">
                        <img src="https://i.pinimg.com/564x/b8/cc/4b/b8cc4bb8d4371eb7ba1528ef02f8b354.jpg" alt="">
                        <img src="https://i.pinimg.com/564x/be/a1/2d/bea12d20ac88c7e8df0e08d653e3485a.jpg" alt="">
                        <img src="https://i.pinimg.com/564x/be/a1/2d/bea12d20ac88c7e8df0e08d653e3485a.jpg" alt="">
                    </div>
            </div>
            </div>
    </div>
    
    
   
</div>
